boxContainer {
    position: absolute;
    width: 300px;
    Height: 400px;
    overflow: hidden;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.one {
    background-color: red;
    z-index: 4;
}

.two {
    background-color: blue;
    z-index: 3;
}

.three {
    background-color: green;
    z-index: 2;
}

.four {
    background-color: yellow;
    z-index: 1;
}

.slideanimation {
    animation-fill-mode: forwards;
    animation-name: slide;
    animation-duration: 0.9s;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}
